.tick line {display: none;}

/* .tick text {padding-right: 20px;} */
/* .bar {
  fill: #bebebe;
} */

/* .text {
  font: 10px sans-serif;
  font-size: 12px;
  fill: black;
} */

.positive{
  fill: #bebebe;
}

.negative{
  fill: #808080;
}

.datalabel{
  font: 10px sans-serif;
  fill: black;
}

.connector {
  stroke: black;
  stroke-width: 2;
}