

/* .tick text {padding-right: 20px;} 
.tick line {display: none;}*/
/* .bar {
  fill: #bebebe;
} */

/* .text {
  font: 10px sans-serif;
  font-size: 12px;
  fill: black;
} */
.tick line {display: none;}
.positive{
  fill: #bebebe;
}

.negative{
  fill: #808080;
}

.datalabel{
  font: 10px sans-serif;
  fill: black;
}

.connector {
  stroke: #808080;
  stroke-width: 1;
}